<div class="container">
  <div class="jumbotron mt-4" id="jmbo">
     <h1 class="display-4 center">{{msg}}</h1>
    <p class="lead center">{{title}}</p>
   
    <div class="col-sm">
      <div id="logbox">
        <form id="account" method="post" action="/create">
          <h2>Create Account</h2>
          <input name="user[name]" type="text" placeholder="User Name" class="input pass" />
          <input name="user[number]" type="text" placeholder="Phone Number" class="input pass" />
          <input name="user[zipcode]" type="text" placeholder="Zip Code" class="input pass" />
          <input name="user[password]" type="password" placeholder="Enter Password" required="required" class="input pass" />
          <input type="submit" value="Create Account!" class="inputButton" id="newAcc" />

        </form>
      </div>
    </div>
    <a href="/">← Back To Home</a>
  </div>
</div>