<div id="jmbo" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 center">{{msg}}</h1>
    <p class="lead center">{{title}}</p>

  </div>

  </div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="logbox">
        <form id="signup" method="post" action="/signup">
          <h2>Create an Account</h2>
          <input name="user[name]" type="text" placeholder="Your Name" required="required" class="input pass" />
          <input type="submit" value="Sign me up!" class="inputButton" />

        </form>
      </div>
    </div>
    {{!-- <div class="col-sm">
      
    </div> --}}
    <div class="col-sm">
      <div id="logbox">
        <form id="signup" method="post" action="/signup">
          <h2>Log In</h2>
          <input name="user[name]" type="text" placeholder="Your Name" class="input pass" />
          <input name="user[password]" type="password" placeholder="Enter Password" required="required" class="input pass" />
          <input type="submit" value="Log In!" class="inputButton" />

        </form>
      </div>
    </div>
  </div>
</div>





  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>