<div id="jmbo" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 center">{{msg}} {{profile.username}}</h1>
  </div>
</div>

<div class="container">



  <aside class="profile-card">


    <div class="row">
      <div class="col-sm">
        <div class="input-field col s12">
          <h4>Sunday</h4>
          <input type="time" class="validate" id="timeInputSun">
        </div>
      </div>
      <div class="col-sm">
        <div class="input-field col s12">
          <h4>Monday</h4>
          <input type="time" class="validate" id="timeInputMon">
        </div>
      </div>
      <div class="col-sm">
        <div class="input-field col s12">
          <h4>Tuesday</h4>
          <input type="time" class="validate" id="timeInputTues">
        </div>
      </div>
      <div class="row">
      <div class="col-sum">
        <div class="input-field col s12">
          <h4>Wednesday</h4>
          <input type="time" class="validate" id="timeInputWed">
        </div>
      </div>
      {{!-- <div class="row"> --}}
        <div class="col-sm">
          <div class="input-field col s12">
            <h4>Thursday</h4>
            <input type="time" class="validate" id="timeInputThur">
          </div>
        </div>
        <div class="col-sm">
          <div class="input-field col s12">
            <h4>Friday</h4>
            <input type="time" class="validate" id="timeInputFri">
          </div>
        </div>
        <div class="col-sm">
          <div class="input-field col s12">
            <h4>Saturday</h4>
            <input type="time" class="validate" id="timeInputSat">
          </div>
        </div>
        </div>
        {{!--
      </div> --}}  
      <a href="/">â† Back To Home</a>
    </div>

</aside>
</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>