<div class="row">
    <div class="col-8 offset-2">
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">User Profile</h5>
                <p>
                    <strong>ID</strong>: {{profile.id}}</p>
                <p>
                <p>
                    <strong>UserName</strong>: {{profile.username}}</p>
                <p>
                    <strong>PhoneNumber:</strong> {{profile.phonenumber}}</p>
                <p>
                    <strong>NotificationPreferences:</strong> {{profile.timePreference}}</p>
                <a href="/">← Back To Home</a>
            </div>
        </div>
    </div>
</div>
</div>